body {
    margin: 0.5;
    padding:10em 15em 15em 15em;
    background-color:#0D1131;
    font-family: 'Jura', sans-serif;
    text-align: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color:#91FFFE;
}
    .subtitulo {
        -webkit-animation: flicker 2s infinite;
        margin: top 3em;
    }
    @-webkit-keyframes flicker
    {
        0% { opacity:0;}
        9% {opacity:0;}
        10% {opacity:.5;}
        13% {opacity:0;}
        20% {opacity:.5;}
        25% {opacity:1;}
    }

    textarea {
        color: #c7f9ff;
        font-family:'Press Start 2P', cursive;
    }